{% include 'header.html' %}


    <div class="row">
        <div class="col-md-12">
            <div class="model-header page-header">
              <h1> 统计<small>-按型号</small></h1>
            </div>
            <div id="tb-model" class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>日期</th>
                        <th>型号</th>
                        <th>件数</th>
                        <th>双数</th>
                        <th>单价</th>
                        <th>折扣</th>
                        <th>总价</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>





            <br><br>

            <div class="page-header model-price-header">
              <h1> 统计<small>-按型号-单价</small></h1>
            </div>



            <div id="tb-model-price" class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>日期</th>
                        <th>型号</th>
                        <th>件数</th>
                        <th>双数</th>
                        <th>单价</th>
                        <th>折扣</th>
                        <th>总价</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>


                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>





<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">录入订单</h4>
            </div>
            <div class="modal-body">


                <form class="form-horizontal" role="form" id="order_form">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">日期</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="trans_day" name="trans_day" placeholder="日期">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">型号</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="model" name="model" placeholder="型号" min="0">
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-2 control-label">件数</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="packages" name="packages" placeholder="件数" value="1" min="1">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">双数</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="pairs" name="pairs" placeholder="双数" value="8" min="1">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">单价</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="price" name="price" placeholder="单价" min="0">
                        </div>
                    </div>

                     <div class="form-group">
                        <label class="col-sm-2 control-label">优惠</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="discount" name="discount" placeholder="优惠" value="0" min="0">
                        </div>
                    </div>

                     <div class="form-group">
                        <label class="col-sm-2 control-label">总价</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="amount" name="amount" placeholder="总价" readonly>
                        </div>
                    </div>

                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button id="save_order" type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>


{% include 'scripts.html' %}

<script type="text/javascript">
    $().ready(function () {

        var date = getUrlParam('date');
        if(date == null){
            date = currentDate();
        }

        // 标题日期加入
        $('.model-header h1').html(date+ $('.model-header h1').html());
        $('.model-price-header h1').html(date+ $('.model-price-header h1').html());



        $.ajax({
            type: 'GET',
            url: '/stat/'+date+'/model',
            dataType: 'json',
            success: function (data) {

                $.each(data, function (i, item) {
                    $('#tb-model tbody').append(
                            "<tr>" +
                            "   <th>" + item.trans_day + "</th>" +
                            "   <th>" + item.model + "</th>" +
                            "   <th>" + item.packages + "</th>" +
                            "   <th>" + item.pairs + "</th>" +
                            "   <th>" + item.price + "</th>" +
                            "   <th>" + item.discount + "</th>" +
                            "   <th>" + item.amount + "</th>" +
                            "   <th>" + "删除 修改 复制" + "</th>" +
                            "</tr>");
                })

            }
        });

        $.ajax({
            type: 'GET',
            url: '/stat/'+date+'/model-price',
            dataType: 'json',
            success: function (data) {

                $.each(data, function (i, item) {
                    $('#tb-model-price tbody').append(
                            "<tr>" +
                            "   <th>" + item.trans_day + "</th>" +
                            "   <th>" + item.model + "</th>" +
                            "   <th>" + item.packages + "</th>" +
                            "   <th>" + item.pairs + "</th>" +
                            "   <th>" + item.price + "</th>" +
                            "   <th>" + item.discount + "</th>" +
                            "   <th>" + item.amount + "</th>" +
                            "   <th>" + "删除 修改 复制" + "</th>" +
                            "</tr>");
                })

            }
        });









    });
</script>
</body>
</html>
